<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ejemplovideotutorial20230515120612.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7fa11e11-c629-4e30-b66f-7f8e4305905d/resourcegroups/EjemploVideotutorial20230515120612ResourceGroup/providers/Microsoft.Web/sites/EjemploVideotutorial20230515120612</ResourceId>
    <UserName>$EjemploVideotutorial20230515120612</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ejemplovideotutorial20230515120612.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>